{
  "printWidth": 120,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}

